.token-symbol {
  font-weight: 600;
}

.token-name {
  font-weight: 100;
  font-size: small;
}

.green-price {
  color: green;
}

.red-price {
  color: brown;
}

@media only screen and (max-width: 667px) { 
  .logout-button {
    padding: 0px 6px !important;
    font-size: 12px !important;
    /* height: ; */
  }
}